<div class="component-container mat-elevation-z8">
        <div class="component-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
            <a mat-flat-button color="primary" [routerLink]="['/addresses']">
                <mat-icon>list</mat-icon>
            </a>
        </div>
        <mat-card class="component-card">
            <form [formGroup]="addresssForm" (ngSubmit)="onFormSubmit(addresssForm.value)">
                <mat-form-field class="component-full-width">
                    <input matInput placeholder="Company Name" formControlName="description" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!addresssForm.get('description').valid && addresssForm.get('description').touched">Please enter Name</span>
                    </mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button type="submit" [disabled]="!addresssForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
                </div>
            </form>
        </mat-card>
    </div>