<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/positions']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <form [formGroup]="positionsForm" (ngSubmit)="onFormSubmit(positionsForm.value)">
            <mat-form-field class="component-full-width">
                <mat-select placeholder="professionals" formControlName="professionalId" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let professional of professionals" [value]="professional.id">{{professional.name}}</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="!positionsForm.get('professionalId').valid && positionsForm.get('professionalId').touched">Please enter professional</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Position" formControlName="description" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!positionsForm.get('description').valid && positionsForm.get('description').touched">Please enter description</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="total Position" formControlName="totalPosition" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!positionsForm.get('totalPosition').valid && positionsForm.get('totalPosition').touched">Please enter totalPosition</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <mat-select placeholder="departments" formControlName="departmentId" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let department of departments" [value]="department.id">{{department.description}}</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="!positionsForm.get('departmentId').valid && positionsForm.get('departmentId').touched">Please enter leader</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!positionsForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>