<div class="component-container mat-elevation-z8">
        <div class="component-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
            <a mat-flat-button color="primary" [routerLink]="['/departmentss']">
                <mat-icon>list</mat-icon>
            </a>
        </div>
        <mat-card class="component-card">
            <form [formGroup]="departmentsForm" (ngSubmit)="onFormSubmit(departmentsForm.value)">
                <mat-form-field class="component-full-width">
                    <mat-select placeholder="companys" formControlName="companyId" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let company of companys" [value]="company.id">{{company.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                        <span *ngIf="!departmentsForm.get('companyId').valid && departmentsForm.get('companyId').touched">Please enter addresses</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="component-full-width">
                    <input matInput placeholder="Department" formControlName="description" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!departmentsForm.get('description').valid && departmentsForm.get('description').touched">Please enter description</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="component-full-width">
                    <mat-select placeholder="leaders" formControlName="leaderId" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let leader of managers" [value]="leader.id">{{leader.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                        <span *ngIf="!departmentsForm.get('leaderId').valid && departmentsForm.get('leaderId').touched">Please enter leader</span>
                    </mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button type="submit" [disabled]="!departmentsForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
                </div>
            </form>
        </mat-card>
    </div>